doctype html
html
	head
		meta(http-equiv = "Content-Type", content = "text/html; charset=UTF-8")
		title= subject
	body
		h1 Welcome to ReactApp, #{name}!
		p Please verify your account using this <a href="#{url}">link</a>.
		p This link will expire in #{expires}.
		p Star the repo!